@model MovieCollection.Web.Models.Movie.EditMovieViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Редактирование</h2>

<br>

<form class="form">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="YearOfIssue"></label>
        <input class="form-control" asp-for="YearOfIssue">
    </div>
    <div class="form-group">
        <label asp-for="ProducerId"></label>
        <select class="form-control" asp-for="ProducerId" asp-items="Model.Producers"></select>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>